@import "tailwindcss";

body {
  @apply text-white bg-black;
}

.text-color {
	background: linear-gradient(to right, #05df72, #292929);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
}